@model DreamCarsMVC3.Models.Manufacturer

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<br/>
<table>
    <tr>
        <td colspan="2"><img height="100" class="image" src="http://localhost:6414/Content/images/Manufacturers/@Model.Image" alt="Loading..." /></td>
    </tr>
    <tr>
        <td><h3>Country:</h3></td>
        <td><h3>@Model.Country</h3></td>
    </tr>
    <tr>
        <td><h3>Available Models:&nbsp;&nbsp;</h3></td>
        <td><h3>@foreach(var item in @Model.Models) {
                @Html.ActionLink(item.Name, "Details", "Models",  new { id = item.ModelId }, null)
                <text> | </text>
            }
        </h3></td>
    </tr>
</table>



