<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>mm3</Title>
    <Author>Microsoft Corporation</Author>
    <Shortcut>mm3</Shortcut>
    <Description>Markup snippet for a link</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
    </Declarations>
    <Code Language="html"><![CDATA[<td colspan="2">]]></Code>
  </Snippet>
</CodeSnippet>