@{
    ViewBag.Title = "Home Page";
}

<div data-role="collapsible">
    <h3>Buttons</h3>
    <button data-role="button">Standard Button</button>
    <button data-role="button" data-icon="alert" data-iconpos="left">Icon</button>
    <button data-theme="e">Theme</button>
</div>